.game-title {
    margin: 40px;
    /* color: var(--main-color-light2); */
}

.basic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-basic {
    background: none;
    border: 2px solid var(--main-color-light2);
    padding: 6px 12px;
    border-radius: 4px;
    color: var(--main-color-light2);
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
}

.btn-basic:hover {
    background: var(--main-color-light);
    color: var(--main-color);
}

.card-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.card-table.cols-2 {
    grid-template-columns: 1fr 1fr;
}

.card-table.cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.card-table.cols-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-table.cols-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.card-table.cols-6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card-table.cols-7 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
